/******* navigation ******************/
.nav {
  background: #18202e;
  width: 240px;
  height: 100vh;
  overflow-y: scroll;
}

.nav-header {
  padding: 15px;
  background: #6889be;
}

.custom-dropdown {
  margin: 10px 0;
}

.button-dropdown {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: #515b6b;
}

.dropdown-isactive {
  color: #fff;
  border-radius: 10px;
}

.custom-dropdown-content {
  display: flex;
  flex-direction: column;
}

.custom-dropdown-content .menu-a:last-child {
  margin-bottom: 0;
}

.content-hidden {
  display: none;
}

h1 {
  color: #fff;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.menu-a {
  color: #515b6b;
  margin: 10px 0;
  padding: 5px;
}

.active {
  color: #eeeeef;
  border-radius: 10px;
}

section {
  max-height: 100vh;
  overflow-y: auto;
}

/***** main ******/
.main {
  display: flex;
  flex-direction: row;
}

/*** members ****/

.title-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.table-container {
  width: 100%;
}

.topComponent {
  display: flex;
  flex-direction: row;
}

.submitBtn {
  position: absolute;
  right: 0;
}

.success {
  padding: 10px;
  width: fit-content;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
