.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.loginForm {
  max-width: 50%;
}

.loginForm button {
  width: 100%;
}

.logoipul24 {
  width: 200px;
}

/******* navigation ******************/
.nav {
  background: #18202e;
  width: 240px;
  height: 100vh;
}

.nav-header {
  padding: 15px;
  background: #6889be;
}

h1 {
  color: #fff;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.menu-a {
  color: #515b6b;
  margin: 10px 0;
}

.active {
  color: #eeeeef;
}

/***** members ******/
.main {
  display: flex;
  flex-direction: row;
}
