.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.loginForm {
  max-width: 50%;
}

.loginForm button {
  width: 100%;
}

.logoipul24 {
  width: 200px;
}

/******* navigation ******************/
.nav {
  background: #18202e;
  width: 240px;
  height: 100vh;
}

.nav-header {
  padding: 15px;
  background: #6889be;
}

h1 {
  color: #fff;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.menu-a {
  color: #515b6b;
  margin: 10px 0;
}

.active {
  color: #eeeeef;
}

/***** main ******/
.main {
  display: flex;
  flex-direction: row;
}

/*** members ****/

.title-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.table-container,
.form-container {
  width: 100%;
}

.topComponent {
  display: flex;
  flex-direction: row;
}

.form-member {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2rem 4rem;
}

.submitBtn {
  position: absolute;
  right: 0;
}

.container-form {
  position: relative;
}

.success {
  padding: 10px;
  width: fit-content;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
